<!DOCTYPE html>
<html>
<head>
    <title>Choose Analysis Type</title>
    <meta charset="UTF-8">
</head>
<body>

    <h1>Analyze Expenses</h1>

    <form action="/analyze/date/Day" method="post">
        <button type="submit">Analyze by Day</button>
    </form>

    <form action="/analyze/date/Month" method="post">
        <button type="submit">Analyze by Month</button>
    </form>

    <form action="/analyze/date/Year" method="post">
        <button type="submit">Analyze by Year</button>
    </form>

    <br>
    <a href="/"><button>Back</button></a>

</body>
</html>